<%- include('partials/header/header'); %>

<body>

  <div class="container ">
    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-lg-3">
        <div class="card shadow-lg mb-4 border-1">
          <div class="card-header border-bottom-0 pt-7">
            <h3 class="fw-bold text-center">VERIFY EMAIL</h3>
          </div>
          <div class="card-body">
            <p>Time remaining: <span id="time"></span></p>
            <form action="/verify" method="post" class="text-center">
              <% if (sendcode === true) { %>
              <div class="text-center" role="alert">
                <p class="fw-lighter" style="font-size: .8rem;">Code send: <%= user.email %></p>
              </div>
              <% } %>
              <% if (messages.error) { %>
              <div class="alert alert-danger " role="alert">
                <p><%= messages.error %></p>
              </div>
              <% } %>
              
              <div class="form-floating col-12 col-sm-12 mb-3">
                <input type="text" class="form-control border-1" name="verificationCode" style="height: 55px;" pattern="^[A-Z0-9]{6}$">
                <label for="fullname">Verification Code:</label>

                <div class="code-link text-start ">
                  <button type="submit" name="action" value="resend" class="nav-link border-0 bg-white">Resend Code</button>
                </div>
                <input type="hidden" name="token" value="<%= userToken.token %>">
              </div>
              <button type="submit" name="action" value="cancel" class="btn btn-danger ">Cancel</button>
              <button type="submit" name="action" value="submit" class="btn btn-success ">Submit</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

<script>
  const adjustedExpirationTimestamp = <%= adjustedExpirationTimestamp %>;
</script>
<script src="public/js/verify.js"></script>




</html>